<!-- app/views/products/show.html.erb -->

<h1><%= @product.name %></h1>

<p><strong>Sales Price:</strong> <%= @product.sales_price %></p>
<p><strong>Purchase Price:</strong> <%= @product.purchase_price %></p>
<p><strong>Supplier Name:</strong> <%= @product.supplier_name %></p>
<p><strong>Created At:</strong> <%= @product.created_at %></p>
<p><strong>Updated At:</strong> <%= @product.updated_at %></p>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-sm btn-primary" %>
<%= link_to 'Back', products_path, class: "btn btn-sm btn-secondary" %>
<%= button_to 'ðŸ—‘ï¸', product_path(@product), method: :delete, class: "btn btn-sm btn-danger" %>
