<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <%= stylesheet_link_tag 'products', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <h1>Product List</h1>

  <div class="search-form">
    <%= form_tag(products_path, method: :get, class: "form-inline") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by name...", class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <%= link_to 'Add New Product', new_product_path, class: 'btn btn-primary', role: 'button' %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Name</th>
        <th>Purchase Price</th>
        <th>Sales Price</th>
        <th>Supplier Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
         <td><%= product.uuid %></td>
          <td><%= product.name %></td>
          <td><%= product.purchase_price %></td>
          <td><%= product.sales_price %></td>
          <td><%= product.supplier_name %></td>
          <td>
            <%= link_to 'âœï¸', edit_product_path(product), class: "btn btn-sm btn-primary" %>
            <%= link_to 'ðŸ—‘ï¸', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</body>
</html>
